a {
    text-decoration: none !important;
    font-size: 16px;
}

.magia:hover {
    color: #33155f;
}

.texto-marcado {
    background-color: #5cb85c
}

.texto-marcado-ocupado {
    background-color: #e4a08f
}
.separar {
    margin: 5px;
}